.hero {
    height: 250vh;
    display: flex;
    flex-direction: column;
    // background: linear-gradient(to bottom,
    //         rgba(11, 29, 38, 0) 0%,
    //         rgba(11, 29, 38, 1) 100%);
    z-index: 100;
    position: relative;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(11, 29, 38, 0) 0%, rgba(11, 29, 38, 1) 100%);
        position: absolute; 
        top: 0;
        left: 0;
        z-index: 100;
    }

    .hero-content {
        height: 100%;
        z-index: 0;

        .hero-content-top {
            position: absolute;
            top: 0;
            width: 100%;

            img {
                width: 100%;
            }
        }

        .hero-content-center {
            position: absolute;
            top: 50%;
            margin-top: 44%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;

            img {
                width: 100%;
            }
        }

        .hero-content-bottom {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            margin-top: 104.9%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .hero-content-contact {
        }

        .hero-content-flow {
        }
    }
}
/* Toàn Pro Vip - Start Code*/
.layout-section {
    background-color: #0f172a;
    color: white;
    margin-top: 100px;
    padding: 60px;
    // border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.layout-section__container {
    display: flex;
    align-items: center;
}

/* Element */
.layout-section__background-number {
    font-size: 120px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 0;
}

.layout-section__subtitle {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #ffd700;
}

.layout-section__title {
    font-size: 32px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    line-height: 40px;
    z-index: 10;
}

.layout-section__description {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.6;
}

.layout-section__link {
    color: #ffd700;
    font-weight: bold;
    text-decoration: none;
}

.layout-section__link:hover {
    text-decoration: underline;
}

/* Modifier */
.layout-section__image img {
    width: 450px;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
}

/* Block */
.info-box {
    background-color: #0f172a;
    padding: 20px 40px;
    position: relative;
    top: -30px;
    left: -36px;
}

/* Wrapper */
.info-box__container {
    position: relative;
    display: flex;
    align-items: center;
}

/* Số 03 */
.info-box__background-number {
    font-size: 158px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: -100px;
    top: 40px;
}

/* Dòng chữ */
.info-box__subtitle {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffd700;
    top: 39px;
    left: -64px;
    font-family: "Arial", sans-serif;
    position: relative;
    margin-left: 60px;
    display: flex;
    align-items: center;
}

/* Gạch ngang */
.info-box__line {
    display: inline-block;
    width: 48px;
    height: 1px;
    background-color: #ffd700;
    margin-right: 10px;
}

/* Toàn Pro Vip - End Code */
/* Minh Pro Vip - Start Code*/
// services-section
.services-section {
    background-color: #0a1d26;
    color: #fff;
    width: 100%;
    .title {
        width: 600px;
        margin: 165px auto 130px;
        h3 {
            font-size: 30px;
            text-align: center;
            margin-bottom: 58px;
        }
        p {
            font-size: 14px;
            text-align: center;
        }
    }
    .group-img {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        .img {
            width: 100%;
            height: 220px;
            object-fit: cover;
            border-radius: 20px;
        }
        .img1 {
            grid-area: 1 / 1 / 2 / 5;
        }
        .img2 {
            grid-area: 1 / 5 / 2 / 9;
        }
        .img3 {
            grid-area: 1 / 9 / 2 / 13;
        }
        .img4 {
            grid-area: 2 / 1 / 3 / 4;
        }
        .img5 {
            grid-area: 2 / 4 / 3 / 8;
        }
        .img6 {
            grid-area: 2 / 8 / 3 / 13;
        }
    }
}
/* // footer */
footer {
    background-color: #0a1d26;
    color: #fff;
    padding: 214px 0 40px;
    .footer_group {
        p {
            margin: 20px 0;
            font-size: 14px;
        }
        h4 {
            font-size: 18px;
            color: #fbd784;
        }
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
    }

    .footer__info {
        grid-area: 1 / 2 / 2 / 6;
        .footer_item {
            padding-top: 106px;
        }
    }
    .footer__section--1 {
        grid-area: 1 / 8 / 2 / 11;
    }
    .footer__section--2 {
        grid-area: 1 / 11 / 2 / 13;
    }
}
/* Minh Pro Vip - End Code */
